* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%; /* Ensure full width on smaller screens */
}
.navbar {
    display: flex;
    background-color: #1e272e;
    top: 0;
    margin: 0;
    height: 80px;
    width: 100%;
    justify-content: center;
    z-index: 999;
    
}
.navbar_content {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    align-items: center;
    padding-right: 50px;
    
    
}
.navbar_about{

    justify-content: center;
    align-items: center;
    margin-left: auto; 
    margin-right: 50px; 
}
.navbar_logo {
    display: flex;
    justify-content: left;
    height: 100%;
    align-items: center;
    
    
}

.navbar__links{
    display: flex;
    justify-self: right;
    color: aliceblue;
    text-decoration: none;
}
#navbar_logo_txt{
    padding-right: 50px;
    display: flex;
    height: 100%;
    text-decoration: none;
    justify-content: left;
    margin-left: 20px;
    align-items: center;
    font-size: 1.6rem;
    background: linear-gradient(to right, rgb(255, 27, 107) 2.25%, #CB356B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}

.navbar_button{
    display: flex;
    align-items: center;
    margin-left: 0px; /* Add some spacing */
    
}
.navbar_contact{
    display: inline-block;
    padding: 3px;
    background: linear-gradient(to right, rgb(255, 27, 107) 2.25%, rgb(69, 202, 255) 100%);
    background-color: linear-gradient(to right, rgb(255, 27, 107) 2.25%, rgb(69, 202, 255) 100%);
    border-radius: 15px; /* Adjust this value to control the roundness */
    color: white;
    text-decoration: none;
    
    border-color: rgb(255, 255, 255);
    transition: transform 0.3s, background-color 0.3s;
    
    
}
.navbar_contact:hover{
    transition: background-color,transform 0.3s ;
    transform: scale(1.2);
    
}

#contact_text{
    filter: blur(0px);
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #1e272e;
    height: 2rem;
    width: 6rem;
    border-radius: 12px;
    
}

.hero {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 540px;
    background-color: #0f1316;
    
}
@media screen and (min-width: 1024px){

    .hero_card{
        transition:  0.4s ease-in-out;
    }
    .hero:hover .hero_card {
        transform: translateX(-60%);
        filter: blur(2px);
        
        
    }
    .hero:hover .hero_title{
        transform: translateX(-30%);
    }
    
    .hero:hover .hero_paragraph{
        transform: translateX(-30%);
    }
    .hero:hover .center_link{
        transform: translateX(-30%);
    }
}
    .hero_title{
    transition:  0.7s ease-in-out;
    text-align: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
    margin-left: 15px;
    font-size: 5rem;
}

.hero_paragraph{
    transition:  0.7s ease-in-out;
    font-size: 1.3rem;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: white;
    
    
}
.center_link{
    transition:  0.73s ease-in-out;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: white;
    font-size: small;
}
.hero_certification{
    
    margin: auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: #CB356B;
    font-size: small;
    text-decoration: none;
    
    
}

.hero_content{
    
    justify-content: center;
    width: 100%;
    margin-left: 200px;
    margin-top: 15%;
    padding-right: 5rem;
    
    
}
.hero_card{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
.about {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 840px;
    background-color: #0f1316;
    
}
.about_card{
    
    padding: 10px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    height: 40rem;
    width: 90%;
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.about_text{
    padding: 5rem;
    text-align: left;
    font-size: 2rem;
    height: 100%;
    color: white;
    background-color: #0f1316;
}

.projects .projects_title{
    text-align: center;
    color: white;
    padding-bottom: 30px;
    
}
.projects {
    
    padding-right: 25px;
    padding-left: 25px;
    padding: 15px, 9%;
    padding-bottom: 100px;
    background-color: #0f1316;
    
}
.projects .card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: center; /* This centers the cards in the container when they don't take up full width */
}

.projects .card_container .card {
    max-width: 270px; /* Set the maximum width of the cards */
    margin: 0 auto; /* This centers the card in the grid cell */
    /* ... other properties ... */
}

/* Medium screens: 2 columns */
@media (max-width: 800px) { /* Adjust this value as needed */
  .projects .card_container {
      grid-template-columns: repeat(2, 1fr);
    }
}

/* Small screens: 1 column */
@media (max-width: 540px) { /* Adjust this value as needed */
    .projects .card_container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.projects .grey_container {
    background-color: #0f1316;
    border-radius: 10px;
}
.projects .card_container .card{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius:15px ;
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    text-align: center;
    transition:  0.2s ease-in-out;
    padding: 10px;
}
.projects .card_container .card img{
    height: 130px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    transition:  0.2s ease-in-out;
    opacity: 0%;
}

.projects .card_container .card h3{
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.projects .card_container .card p{ 
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    transition:  0.2s ease-in-out;
    opacity: 0%;
    text-align: justify;
    padding: 15px;
}

.projects .card_container .card .card_button{ 
    font-size: 15px;
    width: 25%;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    margin-bottom: 25px;
    text-decoration: none;
    transition:  0.2s ease-in-out;
    opacity: 0%;
    
}

.projects .card_container .card .card_button:hover{
    transform: scale(1.25);
    
}

.projects .card_container .card:hover{
    transform: scale(1.1);
    
}
.projects .card_container .card:hover p{
    opacity: 100%;
    
}
.projects .card_container .card:hover img{
    opacity: 100%;
    height:130px;
    
}
.projects .card_container .card:hover .card_button{
    opacity: 100%;

    
}













.social {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 540px;
    background-color: #0f1316;
    
}
.instagram{
    align-items: center;
    margin-left: 200px;
    margin-right: 120px;
    justify-content: center;
    width: 150px;
    height:300px
}
.instagram_image_container{
    justify-content: center;
    width: 150px;
    height: 150px;
    display: flex;
}

.instagram_card{
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 50px;
    height: 200px;
    width: 200px;
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
    transition: scale 0.3s ;
    
}


#ig_logo{
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}

.username_card {
    opacity: 0%;
    font-size: 20px;
    align-items: center;
    width: 200px;
    height: 30px;
    justify-content: center;
    color: white;
    display: flex;
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    transition: scale 0.3s, opacity 0.3s ;
    
}

.instagram_card:hover{
    scale: 1.1;
    cursor: pointer;
    transition: scale 0.3s ;
    
}
.instagram_card:hover + .username_card{
    scale: 1.1;
    cursor: pointer;
    opacity: 100%;
    transition: scale 0.3s, opacity 0.3s ;
    
    
}

/*x*/

.X{
    margin-right: 100px;
    justify-content: center;
    width: 300px;
    height:300px
}
.X_image_container{
    justify-content: center;
    width: 150px;
    height: 150px;
    display: flex;
}

.X_card{
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 50px;
    height: 200px;
    width: 200px;
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
    transition: scale 0.3s ;
    
}


#X_logo{
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}

.username_card {
    opacity: 0%;
    font-size: 20px;
    align-items: center;
    width: 200px;
    height: 30px;
    justify-content: center;
    color: white;
    display: flex;
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    
}

.X_card:hover{
    scale: 1.1;
    cursor: pointer;
    transition: scale 0.3s ;
    
}
.X_card:hover + .username_card{
    scale: 1.1;
    cursor: pointer;
    opacity: 100%;
    transition: scale 0.3s, opacity 0.3s ;
    
    
    
}


@media screen and (min-width:670px) and (max-width: 900px) {
    .social{
        
        height: 1080px;
        
        justify-content: center;
        flex-direction: column;
    }
    .instagram{
        
        margin-left: 15%;
    }
    .X{
        margin-left: 15%;
    }
    .about_text{
        font-size: 1.6rem;
    }
    
    .username_card {
        opacity: 100%;
        font-size: 20px;
        align-items: center;
        margin-top: -160px;
        margin-left: 250px;
        width: 200px;
        height: 30px;
        justify-content: center;
        color: white;
        display: flex;
        background: #CB356B;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 15px;
    }
    
}
@media screen and (max-width: 670px) {
    .hero {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .hero_card{
        width: 90%;
        margin: 20px auto;
        border-radius: 15px;
    }
    .username_card {
        opacity: 100%;
        font-size: 20px;
        align-items: center;
        
        width: 200px;
        height: 30px;
        justify-content: center;
        color: white;
        display: flex;
        background: #CB356B;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 15px;
    }
    .social{
        
        height: 1080px;
        
        justify-content: center;
        flex-direction: column;
    }
    .instagram{
        
        margin-left: 100px;
        margin-bottom: 50px;
    }
    .X{
        margin-left: 100px;
    }
    .about_text{
        font-size: 1.6rem;
    }
    .hero_content{
        justify-content: center;
        margin-left: 0;
        padding-right: 0;
        width: 90%;
    }
    .instagram{
        
        margin-left: 100px;
    }
    .X{
        margin-left: 100px;
    }
    .about_card{
        height: 43rem;
    }
    
}
/* Form section*/

.form_header {
    padding-left: 50px;
    padding-right: 36.5%;
    display:flex;
    justify-content: space-between;
    margin-top: 0%;
    height: 150px;
    width: 100%;
    background-color: #0f1316;
}
.title_container{
    margin-left: 50px;
    margin-top: 50px;
    
}
.form_title{
    display:flex;
    color: white;
}
.back_link{
    
    font-size: 1.5rem;
    margin-top: 25px;
    text-decoration: none;
    color: white;
    
}
.form_container{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 1040px;
    background-color: #0f1316;
}
.form_card{
    display: flex;
    width: 330px;
    height: 100px;
    background: #CB356B;  /* fallback for old browsers */     background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    align-items: center;
    
}
.form_content{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #0f1316;
}
.email{
    color: white;
    background-color: #1e272e;
    text-decoration: none;
    height: 40px;
    border: 2px solid #bd3260;
    border-radius: 10px;
    
}
.submit{
    height: 40px;
    color: white;
    background-color: #1e272e;
    border: 2px solid #bd3260;
    border-radius: 10px;
    width: 55px;
    transition: all ease 0.3s;
}

.submit:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid #63e2a0;
    
}
@media screen and (max-width: 900px) {
    .form_title {
        margin-top: 40px;
        
    }
    .form_stuff {
        margin-top: 100px;
        padding-top: 100px;
        
    }
    .form_title {
        font-size: 45px;
        
    }
    .form_content{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #0f1316;
    }
}

@media screen and (max-width: 480px) {
    .hero_title {
        font-size: 3.5rem;

    }
    .hero_content{
        padding-right: 0;
    }
    .hero_card{
        width: 100%;
        margin: 10px auto;
    }
    .about_text{
        font-size: 1.5rem;
    }
    .X{
        margin-left: 20%;
        height: 250px;
        width: 150px;
        
    }
     .navbar_content{
         padding-right:0px;
    
        }
        .instagram {
            margin-left: 20%;
            
        }
        .social{
        }
     .navbar_contact:hover{
         transition: background-color,transform 0.3s ;
         transform: scale(1);
         
        }
    }
    @media screen and (max-width: 380px) {
        .about_text{
            font-size: 1.25rem;
        }
        h3 {
            font-size: 20px;

        }
    }
    @media screen and (max-width: 370px) {
        .about_text{
            font-size: 1.15rem;
        }
        h3 {
            font-size: 20px;

        }
    }
    @media screen and (max-width: 320px) {
        .about_text{
            font-size: 1.06rem;
        }
        h3 {
            font-size: 20px;

        }
    }
    
    
    